<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include header %>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Left Col</h4>
          <%= dataLeft %>
        </div>
        <div class="col-md-4">
          <h4>Middle Col</h4>
          <%= dataMiddle %>
        </div>
        <div class="col-md-4">
          <h4>Right Col</h4>
          <%= dataRight %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>All Data</h1>
          <%= dataLeft %>
          <br>

          <%= dataMiddle %>
          <br>
          
          <%= dataRight %>

        </div>

      </div>
    </div>
  </body>
</html>
